body {
      font-family: 'Consolas', 'Courier New', Courier, monospace;
      font-size: 11pt;
      padding-top: 50px;
    }
    table {
      border-collapse: collapse;
      width: auto;
      max-width: 100%;
    }
    table th, table td {
      border: 1px solid #ddd;
      padding: 8px;
      white-space: nowrap;
      font-size: 11pt;
    }
    table th {
      background-color: #f2f2f2;
      cursor: pointer;
    }
    table tr:nth-child(even) {
      background-color: #f9f9f9;
    }
    table tr:hover {
      background-color: #f1f1f1;
    }
    .highlighted {
      background-color: #ffffcc !important;
    }
    .nested-table th, .nested-table td {
      background-color: white !important;
    }
    .nested-table tr:nth-child(even) {
      background-color: #ffffff !important;
    }
    .nested-table tr:nth-child(odd) {
      background-color: #f9f9f9 !important;
    }
    .nested-table tr:hover {
      background-color: #f1f1f1 !important;
    }
    .toggle-nest {
      color: #007BFF;
      cursor: pointer;
      margin-right: 6px;
    }
    .toggle-nest:hover {
      text-decoration: underline;
    }
    .nested-content {
      margin-left: 16px;
      padding: 4px;
      display: none;
    }
    .top-menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #002855;
      padding: 10px;
      z-index: 1000;
    }
    .top-menu button {
      margin-right: 10px;
      background-color: #007BFF;
      color: white;
      border: none;
      padding: 10px 20px;
      font-family: 'Consolas', 'Courier New', Courier, monospace;
      font-size: 11pt;
      border-radius: 4px;
      cursor: pointer;
    }
    .top-menu button:hover {
      background-color: #0056b3;
    }

    .json-path {
      color: #888; /* Medium grey */
      font-size: 0.9em;
      margin-top: 2px;
      display: block; /* Display on a new line */
    }

    .edit-button {
      border: 1px solid #007BFF; /* Blue border */
      color: #007BFF; /* Blue text */
      background: none;
      padding: 5px 10px;
      cursor: pointer;
    }

    .edit-button:hover {
      background-color: #E3F2FD; /* Light blue background on hover */
    }

    .edit-button.active {
      background-color: #c62828; /* Red background */
      color: white; /* White text */
      border-color: #c62828; /* Red border */
    }

    .promote-button {
      font-weight: bold;
      color: #007BFF;
      cursor: pointer;
      margin-left: 8px; /* Align with key name */
    }

    .promote-button:hover {
      text-decoration: underline;
    }